<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>currency coversion inr to dollar </h4>
        <div class="form-group">
            <input type="text" ng-model = "moneyEnter" class="form-control"/> 
            <select style="width: 100%;" class="select-box" name="" id="" ng-model="currencyFrom">
                    <option value="INR" >Indian Rupees (INR)</option>
                    <option value="AUD">Australian Dollar (AUD)</option>
                    <option value="USD">US  Dollar (USD)</option>
                    
            </select>
            <select style="width: 100%;" class="select-box" name="" id="" ng-model="currencyTo">
                    <option value="AUD">Australian Dollar (AUD)</option>
                    <option value="USD">US  Dollar (USD)</option>
                    <option value="INR">Indian Rupees (INR)</option>
            </select>
        </div>
        <a href="#/convert" class="btn btn-primary">Convert</a>
    </div>
</div>


<!-- <div >
    <h2>Currency Convertor</h2>
    <table>
        <tr>
            <td><input type="text" name="" id="fromAmt" type="text" value="1" ></td>
            <td>
                <select name="" id="from" onchange="convertCurrency();">
                    <option value="AUD">Australian Dollar (AUD)</option>
                    <option value="USD">US  Dollar (USD)</option>
                    <option value="INR" selected>Indian Rupees (INR)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="text" name="" id="toAmt" type="text" disabled="true"></td>
            <td>
                <select name="" id="from" onchange="convertCurrency();">
                    <option value="AUD">Australian Dollar (AUD)</option>
                    <option value="USD">US  Dollar (USD)</option>
                    <option value="INR" selected>Indian Rupees (INR)</option>
                </select>
            </td>
        </tr>
    </table>
</div> -->